$accent-color: #c66;
$headline-marker: #ff94a6;
$text-color: #444;
$plainBG-color: #f8f6f4;


$accent-color2: #E6AF83;
$accent-color3: #CF9A7B;
$accent-color4: #72AD97;
$accent-color5: #5B9279;
$accent-color6: #52D1DC;
$accent-color7: #B3DEC1;

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: "Times New Roman", Times, serif;
    scroll-behavior: smooth;
}

body *{
    color: $text-color;
}

#accessibilityBtn {
    width: 50px; 
    height: 50px; 
    border-radius: 50px; 
    text-align: center; 
    box-shadow: black 2px 2px 2px; 
    background-color: #cfcfcf4b;
    position: fixed; 
    right: 20px; 
    top: 20px; 
    z-index: 600;
    transition: right 0.5s, top 0.5s;
    cursor: pointer;
}

#accessibilityBtn i {
    font-size: 25px;
    color:#c66;
    margin-top: 13px;
}

#accessibilityBar {
    width: 0px;
    height: 100vh;
    background-color: white;
    right: 0px;
    position: absolute;
    z-index: 500;
    transition: width 0.5s;
    box-shadow: -8px 0 10px -6px black;
}

#navbarLinks h2 {
    padding-left: 20px;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin-left: 5px;
  }
  input[type=checkbox]:focus {
    outline: 0;
  }
  
  .toggle {
    height: 24px;
    width: 40px;
    border-radius: 12px;
    display: inline-block;
    position: relative;
    margin: 0;
    border: 2px solid #474755;
    background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
    transition: all 0.2s ease;
  }
  .toggle:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
  }
  .toggle:checked {
    border-color: $accent-color;
  }
  .toggle:checked:after {
    transform: translatex(16px);
  }

#drawerOpenClose {
    border: $accent-color 1px solid;
    background-color: rgba(0, 0, 0, 0.089);
    border-radius: 5px;
    box-shadow: $text-color 3px 3px 3px;
    padding: 6px 12px;
}

#drawerOpenClose:active {
    background-color: rgba(0, 0, 0, 0.212);
    box-shadow: $text-color 0px 0px 0px;
    margin-left: 3px;
    margin-top: 3px;
}

#messageDrawerState {
    display: inline-block;
    margin-left: 10px;
}

#navbarSettings {
    width: 0; 
    text-align: center; 
    bottom: 0px; 
    position: absolute; 
    left: 0; 
    box-shadow: 0px -3px 3px 3px rgba(0, 0, 0, 0.5); 
    padding-bottom: calc(20px + 15vh);
}

/* Headline / firstRow */

#firstRow {
    background-color: $plainBG-color;
    height: 85vh !important;
}

#headline{
    padding-left: 35px;
    padding-right: 0px;
    padding-top: 2vh;
}

#headline span {
    color: $accent-color;
}

#headline h4 {
    color: $headline-marker;
}

#headline > *:not(#contactMe) {
    transition: font-size 1s;
}

#contactMe {
    background-color: transparent;
    border: 2px solid $accent-color;
    border-radius: 0.6em;
    color: $accent-color;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    padding: 1em 2.2em;
    margin-top: 0px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-color: $accent-color;
    background-image: -webkit-linear-gradient(45deg, $accent-color 50%, transparent 50%);
    background-image: linear-gradient(45deg, $accent-color 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#contactMe:hover, #contactMe:focus {
    color: $text-color;
    outline: 0;
    background-position: 0;
}

#headline > h1 {
    font-size: 2.1em;
    margin-right: 70px;
}

#headline > h2 {
    font-size: 1.6em;
    margin-right: 30px;
}

#headline > h3 {
    font-size: 1.2em;
    margin-right: 30px;
}

#headline > h4 {
    font-size: 1.1em;
    margin-right: 30px;
}

#headline > h1, #headline > h2, #headline > h3, #headline > h4 {
    margin-bottom: 0px;
}

#headline > a {
    margin-top: 5px;
}

#picCol img {
    width: 80%; 
    height: auto; 
    -webkit-filter: drop-shadow(5px 5px 5px #472D38); 
    filter: drop-shadow(5px 5px 5px #472D38);
    padding-top: 10px;
    padding-left: 20px;
}

#picCol img:hover {
    -webkit-filter: none !important; 
    filter: none !important;
    padding-top: 12px;
    padding-left: 22px;
}

#picCol {
    padding-right: 0px;
}

/* WeatherWidget */


.container {
    overflow: hidden;
    z-index: 10;
    margin-top: 20px;
    position: relative;
    height: unset;
    width: 90% !important;
    background-color: #f17022;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #00000046;
    max-width: 475px !important;
    margin-left: 0px !important;
    padding: 15px;
  }
    
#Circle1, #Circle2, #Circle3 {
    position: absolute;
    border-radius: 50%;
    
    animation: enlarge;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#Circle1 {
    z-index: 13;
    height: 80px;
    width: 80px;
    right: -20px;
    top: -30px;
    background-color: rgba(253, 184, 19, 1);
}

#Circle2 {
    z-index: 12;
    height: 150px;
    width: 150px;
    right: -50px;
    top: -70px;
    background-color: rgba(246, 140, 31, 0.7);
}

#Circle3 {
    z-index: 11;
    height: 200px;
    width: 200px;
    right: -50px;
    top: -100px;
    background-color: rgba(241, 125, 45, 0.7);
}

#Cloud1, #Cloud2, #Cloud3, #Cloud4, #Cloud5 {
    display: none;
    position: absolute;
    border-radius: 50%;
    
    animation: enlarge2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#Cloud1 {
    z-index: 12;
    height: 120px;
    width: 120px;
    right: 60px;
    top: -70px;
    background-color: rgb(165, 165, 165);
}

#Cloud2 {
    z-index: 13;
    height: 110px;
    width: 110px;
    right: 0px;
    top: -90px;
    background-color: rgb(165, 165, 165);
}

#Cloud3 {
    z-index: 11;
    height: 100px;
    width: 100px;
    right: 140px;
    top: -70px;
    background-color: rgb(165, 165, 165);
}

#Cloud4 {
    z-index: 11;
    height: 100px;
    width: 100px;
    left: 40px;
    top: -60px;
    background-color: rgb(165, 165, 165);
}

#Cloud5 {
    z-index: 12;
    height: 70px;
    width: 70px;
    left: 5px;
    top: -40px;
    background-color: rgb(165, 165, 165);
}

/*  CONTENT  */

#Condition {
    z-index: 15;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 20px;
    left: 0px;
    top: 0px;
    margin-bottom: 0px;
  }

#Temp {
    z-index: 15;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 400;
    left: 0px;
    bottom: 0px;
    margin-bottom: 0px;
}

#Time {
    z-index: 15;
    position: relative;
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
    font-weight: 200;
    right: 0px;
    top: 0px;
    margin-bottom: 0px;
}

#Location {
    z-index: 15;
    position: relative;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    font-weight: 200;
    right: 0px;
    bottom: 0px;
    margin-bottom: 0px;
}

.fa-location-arrow {
    color:#6060ff !important;
}

@keyframes enlarge {
    50% {
        transform: scale(1.4);
    }
}

@keyframes enlarge2 {
    50% {
        transform: scale(1.1);
    }
}

/* Weatherwidget Rain */

.rain.back-row {
    display: none;
    z-index: 1;
    bottom: 60px;
    opacity: 0.5;
}

body.back-row-toggle .rain.back-row {
    display: block;
}

.drop {
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;
}

@keyframes drop {
    0% {
        transform: translateY(0vh);
    }
    75% {
        transform: translateY(90vh);
    }
    100% {
        transform: translateY(90vh);
    }
}

.stem {
    width: 1px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 0.5s linear infinite;
}

@keyframes stem {
    0% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Arrow */

#arrowContainer i{
    font-size: 50px;
    animation: slide 2s ease-in-out infinite;
}

#divArrowContainer{
    position: absolute;
    width: 100vw;
    bottom: 20px;
    left: calc(50% - 21px);
    z-index: 100;
}

@keyframes slide {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(0, 10px);
    }
}

/* Schillerska */

#workExp {
    -webkit-box-shadow: 0px -10px 10px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -10px 10px 3px rgba(0,0,0,0.2);
    box-shadow: 0px -10px 10px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 60;
    background-color: white;
}

.collapse .col-12, .collapse .card, .collapsing .col-12, .collapsing .card {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.collapse .row, .col-12 > .card, .collapsing .row {
    padding: 0px !important;
}

#workExp .row, .collapse, .collapsing {
    position: relative;
}

#workExp .row:before, .collapse:before, .collapsing:before {
    content : "";
    position: absolute;
    left    : 4%;
    bottom  : 0;
    height  : 2px;
    width   : 92%;
    border-bottom:2px solid $accent-color;
}

#workExp > div {
    background-color: #ffffff00;
}

#workExp > div:not(.collapse, .collapsing) {
        background-image:
          radial-gradient(#e9685a10 20%, transparent 0), 
          radial-gradient(#e9685a10 20%, transparent 0);
        background-size: 30px 30px;
        background-position: 0 0, 15px 15px;
}

#workExp > div:not(.collapse, .collapsing):active {
    background-color: #00000046;
}

.card {
    background-color: #00000000 !important;
    border: #00000000 0px solid !important;
}

.row {
    margin: 0px !important;
}

#workExp > .row {
    cursor: pointer;
}

#workExp div div {
    padding: 40px 4%;
}

#workExp .rgbText{
	color: $text-color;
}

#workExp h2{
    font-size: 2.5rem;
    margin-bottom: 0px;
    padding-bottom: 4px;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

#gamestop {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#gamestop h2  {
    display: inline-block;
}

#gamestop #game {
    color: black;
}

#gamestop span {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

#netonnet h2 span{
  padding: 2px;
  margin: 5px;
  color: white;
}

#netonnet svg {
    margin-left: -6px;
    margin-right: -8px;
}

iframe {
    border-radius: 10px;
    height: 650px;
    width: 100%;
}

.iframeHolder {
    padding: 10px !important;
}

#collapseSoftwareDesign .col-12 h4 {
    text-align: center;
    padding-right: 30px;
}

#collapseSoftwareDesign .col-12 ul, #backendContainer, #programContainer {
    max-width: 250px;
    border-radius: 10px;
    margin-bottom: 0px;
    padding-left: 30px;
}

#frontendContainer {
    max-width: 250px;
    background: linear-gradient(to right, red, purple);
    padding: 3px !important;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #1f011bed;
}

#frontend {
    background: #2e142ac9;
    color: white;
}

#backendContainer {
    background-image: url(../Pictures/Black&GreenBlur.jpg);
    background-size: cover;
    box-shadow: 5px 5px 5px #000000c9;
    padding: 3px !important;
    min-width: 244px;
    min-height: 204px;
}

#backend {
    background: #000000ad;
    color: limegreen;
    min-width: 214px;
    min-height: 204px;
}

#programContainer {
    background: #181818c9;
    box-shadow: 5px 5px 5px #1f011bed;
    color: white;
}

#programs {
    background: #2e142ac9;
    border-radius: 0px 0px 10px 10px !important;
}

.programButton {
    width: 11px;
    height: 11px;
    border-radius: 11px;
    padding: 0px !important;
    display:inline-flex;
    cursor: pointer;
}

#PB1 {
    background-color: red;
    margin-left: 10px;
}

#PB2 {
    background-color: yellow;
}

#PB3 {
    background-color: green;
    margin-right: 7px;
}

#PB1:active {
    background-color: rgb(116, 0, 0);
}

#PB2:active {
    background-color: rgb(139, 139, 0);
}

#PB3:active {
    background-color: rgb(0, 71, 0);
}

.hide-mobile {
    display: none !important;
}
.show-mobile {
    display: inline !important;
}

@media (min-width: 395px) {
    .container {
        height: 90px;
    }

    #Condition{
        position: absolute;
        left: 20px;
        top: 10px;
    }

    #Temp{
        position: absolute;
        left: 20px;
        bottom: 5px;
    }

    #Time{
        position: absolute;
        right: 20px;
        top: 10px;
    }

    #Location {
        position: absolute;
        right: 20px;
        bottom: 5px;
        margin-bottom: 8px;
    }
}

@media (min-width: 400px) {
    #headline > h1 {
        font-size: 2.5em;
    }
    
    #headline > h2 {
        font-size: 2em;
    }
    
    #headline > h3 {
        font-size: 1.9em;
    }
    
    #headline > h4 {
        font-size: 1.8em;
    }

    #picCol img {
        width: 60%; 
    }
}

@media (min-width: 600px) {
    #headline{
        padding-left: 65px;
        padding-right: 15px;
    }

    #contactMe {
        margin-top: 30px;
    }
}

@media (min-width: 725px) {
    #headline > *:not(#contactMe) {
        transition: font-size 0.5s;
        max-width: 600px;
    }
    
    #headline > h1:hover {
        font-size: 2.7em;
    }
    
    #headline > h2:hover {
        font-size: 2.2em;
    }
    
    #headline > h3:hover {
        font-size: 2.1em;
    }
    
    #headline > h4:hover {
        font-size: 1.9em;
    }
    
}

@media (min-width: 768px) {
    #picCol img {
        width: 100%; 
        padding-top: 10vh;
        padding-left: 0px;
        position: relative;
        z-index: 1;
    }
    
    #picCol img:hover {
        -webkit-filter: none !important; 
        filter: none !important;
        padding-top: calc(10vh + 2px);
        padding-left: 2px;
    }
}

@media (min-width: 770px) {
    #firstRow {
        height: 100vh !important;
    }
    
    #navbarSettings {
        padding-bottom: 20px !important;
    }
    
    #contactMe {
        margin-top: 20px;
    }

    .container {
        margin-top: 50px;
    }
}

@media (min-width: 992px) {
    .hide-mobile {
        display: inline !important;
    }
    .show-mobile {
        display: none !important;
    }
    
    iframe {
        border-radius: 10px;
        height: 1000px;
        width: 100%;
    }
    
    .iframeHolder {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

@media (min-width: 2000px) {
    #picCol img {
        padding-top: 0px;
        width: 80%;
    }
    
    #picCol img:hover {
        padding-top: 2px;
        width: 80%;
    }
}

@media (min-height: 850px) {
    #headline {
        padding-top: 20vh;
    }
}

@media (min-width: 780px) and (min-height: 500px) {
    #headline {
        padding-top: 20vh;
    }
}

@media (min-height: 380px) {
    #headline > h1, #headline > h2, #headline > h3, #headline > h4 {
        margin-bottom: 8px;
    }

    #headline > a {
        margin-top: 20px;
    }
}

/* Contact Site */

#contactBody {
    background-color: $plainBG-color;
    color: $text-color;
}

.fade-out {
    animation: fadeOut ease 4s;
}
@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

#email {
    color: $accent-color3 !important;
    text-decoration: underline;
    cursor: pointer;
}

#number {
    color: $accent-color2 !important;
}

#introText4 {
    color: $headline-marker !important;
}
