html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: "Times New Roman", Times, serif;
    scroll-behavior: smooth;
}

body {
    background: rgb(23,27,49);
    background: -moz-linear-gradient(80deg, rgba(23,27,49,1) 9%, rgba(29,38,63,1) 39%, rgba(31,53,115,1) 64%, rgba(83,228,220,1) 100%);
    background: -webkit-linear-gradient(80deg, rgba(23,27,49,1) 9%, rgba(29,38,63,1) 39%, rgba(31,53,115,1) 64%, rgba(83,228,220,1) 100%);
    background: linear-gradient(80deg, rgba(23,27,49,1) 9%, rgba(29,38,63,1) 39%, rgba(31,53,115,1) 64%, rgba(83,228,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#171b31",endColorstr="#53e4dc",GradientType=1);

    color: white !important;
}

/* Headline / firstRow */

#firstRow {
    height: 100vh !important;
    padding-top: 30vh;
}

#headline {
    margin-left: 50px;
}

#headline span {
    color: #00ffbf;
}

#headline h4 {
    color: #ff94a6;
}

.button {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #76ffdd;
    border-radius: 0.6em;
    color: #76ffdd;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1em 2.2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-color: #76ffdd;
    color: #76ffdd;
    background-image: -webkit-linear-gradient(45deg, #76ffdd 50%, transparent 50%);
    background-image: linear-gradient(45deg, #76ffdd 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
}

.button:hover, .button:focus {
    color: black;
    outline: 0;
    background-position: 0;
}

/* Arrow */

#arrowContainer {
    position: absolute;
    width: 100vw;
    bottom: 20px;
}

#arrowContainer i{
    font-size: 50px;
    animation: slide 2s ease-in-out infinite;
}

@keyframes slide {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(0, 10px);
    }
}

/* Schillerska */

#workExp {
    -webkit-box-shadow: 0px -10px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -10px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px -10px 10px -1px rgba(0,0,0,0.75);
}

#workExp .row, .collapse  {
    border-bottom: 1px solid hsla(0,0%,100%,.2);
}

#workExp div {
    cursor: pointer;
    background-color: black;
}

#workExp div div {
    padding: 40px 4%;
}

#workExp .rgbText{
	color: #3ed6b0;
	background-image: -webkit-linear-gradient(92deg, #3ed6b0, #2ada82);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

#workExp h2{
    font-size: 2.5rem;
    margin-bottom: 0px;
    padding-bottom: 4px;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

#gamestop h2  {
    display: inline-block;
}

#gamestop span {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

#netonnet h2 span{
  padding: 2px;
  margin: 5px;
  color: white;
}

#netonnet svg {
    margin-left: -6px;
    margin-right: -10px;
}