$accent-color: #c66;
$headline-marker: #ff94a6;
$text-color: #444;
$plainBG-color: #f8f6f4;


$accent-color2: #E6AF83;
$accent-color3: #CF9A7B;
$accent-color4: #72AD97;
$accent-color5: #5B9279;
$accent-color6: #52D1DC;
$accent-color7: #B3DEC1;

@font-face { font-family: Impact; src: url('../impact.ttf'); } 

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    color: $text-color;
}

::-webkit-scrollbar {
    width: 14px;
  }
  
::-webkit-scrollbar-track {
background: #c5c5c5;
}

::-webkit-scrollbar-thumb {
background: #888;
}

::-webkit-scrollbar-thumb:hover {
background: #555;
}

#accessibilityBtn {
    width: 50px; 
    height: 50px; 
    text-align: center; 
    border-radius: 50%; 
    box-shadow: black 2px 2px 2px; 
    background-color: #cfcfcf4b;
    position: fixed; 
    right: 20px; 
    top: 20px; 
    z-index: 600;
    transition: right 0.5s, top 0.5s;
    cursor: pointer;
}

#accessibilityBtn i {
    font-size: 25px;
    color:#c66;
    margin-top: 13px;
}

#accessibilityBar {
    width: 0px;
    height: 100vh;
    background-color: white;
    right: 0px;
    position: absolute;
    z-index: 500;
    transition: width 0.5s;
    box-shadow: -8px 0 10px -6px black;
}

#accessibilityBar a {
    text-decoration: none;
    color: $text-color;
}

#accessibilityBar a:hover {
    color: #a7a7a7;
}

#navbarLinks h2 {
    padding-left: 20px;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin-left: 5px;
}
input[type=checkbox]:focus {
    outline: 0;
}

.toggle {
    height: 24px;
    width: 40px;
    border-radius: 12px;
    display: inline-block;
    position: relative;
    margin: 0;
    border: 2px solid #474755;
    background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
    transition: all 0.2s ease;
}
.toggle:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.toggle:checked {
    border-color: $accent-color;
}
.toggle:checked:after {
    transform: translatex(16px);
}

#navbarSettings {
    width: 0; 
    text-align: center; 
    bottom: 0px; 
    position: absolute; 
    left: 0; 
    box-shadow: 0px -3px 3px 3px rgba(0, 0, 0, 0.5); 
    padding-bottom: 15vh;
}

#speechBubble {
	// layout
	position: fixed;
    max-width: 300px;
	right: 20px;
    top: 100px;
    z-index: 205;
    display: none;
    opacity: 1;
    transition: opacity 10s;
	
    color: black;
	background-color: #fff;
	padding: 10px;
	font-size: 1.25em;
	border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

#speechBubble::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 260px;
	border: .75rem solid transparent;
	border-top: none;

	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

#speechBubble span {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    box-shadow: black 2px 2px 2px; 
    background-color: #cfcfcf4b;
    cursor: pointer;
    text-align: center;
}

/* Headline / firstRow */

#firstRow {
    background-color: $plainBG-color;
    height: calc(100vh - env(safe-area-inset-bottom));
    // height: 85vh !important;
}

#headline{
    padding-left: 35px;
    padding-right: 0px;
    padding-top: 2vh;
}

#pinkText {
    color: $accent-color;
}

#pinkText2 {
    color: $headline-marker;
}

#headline > *:not(#contactMe) {
    transition: font-size 1s;
}

#contactMe {
    background-color: transparent;
    border: 2px solid $accent-color;
    border-radius: 0.6em;
    color: $accent-color;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    padding: 1em 2.2em;
    margin-top: 0px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-color: $accent-color;
    background-image: -webkit-linear-gradient(45deg, $accent-color 50%, transparent 50%);
    background-image: linear-gradient(45deg, $accent-color 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#contactMe:hover, #contactMe:focus {
    color: $text-color;
    outline: 0;
    background-position: 0;
}

#headline > h1, #oldText > h1 {
    font-size: 2.1em;
    margin-right: 70px;
}

#headline > h2, #oldText > h2 {
    font-size: 1.6em;
    margin-right: 30px;
}

#headline > h3, #oldText > h3 {
    font-size: 1.2em;
    margin-right: 30px;
}

#headline > h4, #oldText > h4 {
    font-size: 1.1em;
    margin-right: 30px;
}

#headline > h1, #headline > h2, #headline > h3, #headline > h4, #oldText > h1, #oldText > h2, #oldText > h3, #oldText > h4 {
    margin-bottom: 0px;
}

#headline > a, #oldText > a {
    margin-top: 5px;
}

#picCol img {
    width: 80%; 
    height: auto; 
    -webkit-filter: drop-shadow(5px 5px 5px #472D38); 
    filter: drop-shadow(5px 5px 5px #472D38);
    padding-top: 10px;
    padding-left: 20px;
}

#picCol img:hover {
    -webkit-filter: none !important; 
    filter: none !important;
    padding-top: 12px;
    padding-left: 22px;
}

#picCol {
    padding-right: 0px;
}

/* WeatherWidget */


.weatherContainer, .dateContainer{
    background-color: white;
    overflow: hidden;
    z-index: 10;
    margin-top: 20px;
    position: relative;
    height: unset;
    width: 90% !important;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #00000046;
    max-width: 475px !important;
    margin-left: 0px !important;
    padding: 15px;
}

.weatherContainer{
    background: #87CEEB;
    background: linear-gradient(to bottom, #87CEEB 0%, #78BFDC 100%);
}

    
#Circle1, #Circle2, #Circle3 {
    position: absolute;
    border-radius: 50%;
    
    animation: enlarge;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#Circle1 {
    z-index: 13;
    height: 80px;
    width: 80px;
    right: -20px;
    top: -30px;
    background-color: rgba(253, 184, 19, 1);
}

#Circle2 {
    z-index: 12;
    height: 150px;
    width: 150px;
    right: -50px;
    top: -70px;
    background-color: rgba(246, 140, 31, 0.7);
}

#Circle3 {
    z-index: 11;
    height: 200px;
    width: 200px;
    right: -70px;
    top: -90px;
    background-color: rgba(241, 125, 45, 0.7);
}

#Cloud1, #Cloud2, #Cloud3, #Cloud4, #Cloud5 {
    display: none;
    position: absolute;
    border-radius: 50%;
    
    animation: enlarge2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#Cloud1 {
    z-index: 12;
    height: 120px;
    width: 120px;
    right: 60px;
    top: -70px;
    background-color: rgb(165, 165, 165);
}

#Cloud2 {
    z-index: 13;
    height: 110px;
    width: 110px;
    right: 0px;
    top: -90px;
    background-color: rgb(165, 165, 165);
}

#Cloud3 {
    z-index: 11;
    height: 100px;
    width: 100px;
    right: 140px;
    top: -70px;
    background-color: rgb(165, 165, 165);
}

#Cloud4 {
    z-index: 11;
    height: 100px;
    width: 100px;
    left: 40px;
    top: -60px;
    background-color: rgb(165, 165, 165);
}

#Cloud5 {
    z-index: 12;
    height: 70px;
    width: 70px;
    left: 5px;
    top: -40px;
    background-color: rgb(165, 165, 165);
}

/*  CONTENT  */

#Condition, #date {
    z-index: 15;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 20px;
    left: 0px;
    top: 0px;
    margin-bottom: 0px;
  }

#Temp, #week {
    z-index: 15;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 400;
    left: 0px;
    bottom: 0px;
    margin-bottom: 0px;
}

#highLow, #time {
    z-index: 15;
    position: relative;
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
    font-weight: 200;
    right: 0px;
    top: 0px;
    margin-bottom: 0px;
}

#highLow .fa-angle-up {
    color: #ff8800;
}

#highLow .fa-angle-down {
    color: #00c3ff;
}

sup {
    top: -0.7em;
    font-size: 50%;
}

#Location {
    z-index: 15;
    position: relative;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    font-weight: 200;
    right: 0px;
    bottom: 0px;
    margin-bottom: 0px;
}

.fa-location-arrow {
    color:#6060ff;
}

@keyframes enlarge {
    50% {
        transform: scale(1.3);
    }
}

@keyframes enlarge2 {
    50% {
        transform: scale(1.3);
    }
}

/* Weatherwidget Rain */

.rain.back-row {
    display: none;
    z-index: 1;
    bottom: 60px;
    opacity: 0.5;
}

.drop {
    color: white !important;
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;
}

@keyframes drop {
    0% {
        transform: translateY(0vh);
    }
    75% {
        transform: translateY(90vh);
    }
    100% {
        transform: translateY(90vh);
    }
}

.stem {
    width: 1px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 0.5s linear infinite;
}

@keyframes stem {
    0% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Arrow */

#arrowContainer i{
    font-size: 50px;
    animation: slide 2s ease-in-out infinite;
}

#divArrowContainer{
    position: absolute;
    width: 100vw;
    bottom: 20px;
    left: calc(50% - 21px);
    z-index: 100;
}

@keyframes slide {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(0, 10px);
    }
}

#workExp {
    background-color: $plainBG-color;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px -10px 10px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -10px 10px 3px rgba(0,0,0,0.2);
    box-shadow: 0px -10px 10px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 60;
}

#workExp > h1 {
    margin-bottom: 0px;
    padding-top: 10px;
}

#workExp > div {
    display: flex;
    flex-wrap: wrap;
}

#workExp .card {
    background-color: white !important;
    border: 1px solid darkgray !important; 
    box-shadow: 5px 5px 5px grey;
    margin-top: 30px;
}

.mediumCard {
    width: 90%;
}

#workExp .card h3 {
    margin-bottom: 4px;
}

#smallCardButton {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
}

.card-text {
    margin-bottom: 46px;
}

.card {
    background-color: #00000000 !important;
    border: #00000000 0px solid !important;
}

.row {
    margin: 0px !important;
}


@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

#gamestop, #gamestopSpan {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#gamestop {
    display: inline-block;
    color: black;
}

#gamestopSpan {
    color:red;
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

#netonnet svg {
    margin-left: -6px;
    margin-right: -7px;
}

iframe {
    border-radius: .25rem;
    height: calc(100% - 37px);
    width: calc(100% - 2px);
    border: none;
    border-top: 1px solid black;
    min-height: 535px;
}

#eddlerWebsite > iframe {
    height: calc(100% - 116px) !important;
}

.iframeHolder {
    padding: 20px 0px 0px 0px !important;
}

#eddlerWebsite > h4 {
    color: #008cff;
    background-color: #000000bb;
    border-radius: .25rem;
    padding: 7px;
    border: #008cff 2px solid;
    margin-bottom: 0px;
}

.smallCard, .smallCard > div, .smallCard > div > ul{
    border-radius: .25rem;
}

.smallCard {
    width: 100%;
    margin-bottom: 10px;

}

#frontendContainer {
    background: linear-gradient(to right, red, purple);
    padding: 3px !important;
    box-shadow: 5px 5px 5px #1f011bed;
}

#frontend {
    background: #2e142ac9;
    color: white;
}

#backendContainer {
    background-image: url(../Pictures/Black&GreenBlur.jpg);
    background-size: cover;
    box-shadow: 5px 5px 5px #000000c9;
    padding: 3px !important;
}

#backend {
    background: #000000ad;
    color: limegreen;
    min-height: 204px;
}

#programContainer {
    background: #181818c9;
    box-shadow: 5px 5px 5px #1f011bed;
    color: white;
    width: 100%;
    height: 176px;
    transition: all 1s ease-out;
}

#programs {
    background: #2e142ac9;
    width: 100%;
    height: 146px;
    padding-left: 40px;
    z-index: unset;
}

.big {
    margin: 1vh;
    top: 0 !important;
    left: 0 !important;
    width: 95vw !important;
    height: 98vh !important;
    position: fixed;
    overflow: hidden;
    z-index: 887;
}

.big2 {
    width: 100% !important;
    height: 100% !important;
    padding: 5px;
    z-index: 888;
}

.test{
    transition: all 1s ease-out;
}

.programButton {
    width: 11px;
    height: 11px;
    border-radius: 11px;
    padding: 0px !important;
    display:inline-flex;
    cursor: pointer;
}

#PB1 {
    background-color: red;
    margin-left: 10px;
}

#PB2 {
    background-color: yellow;
}

#PB3 {
    background-color: green;
    margin-right: 7px;
}

#PB1:active {
    background-color: darken(red, 30%);
}

#PB2:active {
    background-color: darken(yellow, 30%);
}

#PB3:active {
    background-color: darken(green, 30%);
}

@media (min-width: 395px) {
    .weatherContainer, .dateContainer {
        height: 90px;
    }

    #Condition, #date{
        position: absolute;
        left: 20px;
        top: 10px;
    }

    #Temp, #week {
        position: absolute;
        left: 20px;
        bottom: 5px;
    }

    #highLow, #time{
        position: absolute;
        right: 20px;
        top: 10px;
    }

    #Location {
        position: absolute;
        right: 20px;
        bottom: 5px;
        margin-bottom: 8px;
    }
}

@media (min-width: 400px) {
    #headline > h1, #oldText > h1 {
        font-size: 2.5em;
    }
    
    #headline > h2, #oldText > h2 {
        font-size: 2em;
    }
    
    #headline > h3, #oldText > h3 {
        font-size: 1.9em;
    }
    
    #headline > h4, #oldText > h4 {
        font-size: 1.8em;
    }

    #picCol img {
        width: 60%; 
    }
}

@media (min-width: 600px) {
    #headline{
        padding-left: 65px;
        padding-right: 15px;
    }

    #contactMe {
        margin-top: 30px;
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) {
    #picCol img {
        width: 100%; 
        padding-top: 10vh;
        padding-left: 0px;
        position: relative;
        z-index: 1;
    }
    
    #picCol img:hover {
        -webkit-filter: none !important; 
        filter: none !important;
        padding-top: calc(10vh + 2px);
        padding-left: 2px;
    }
}

@media (min-width: 770px) {
    #firstRow {
        height: 100vh !important;
    }
    
    #navbarSettings {
        padding-bottom: 0px;
    }
    
    #contactMe {
        margin-top: 20px;
    }

    .weatherContainer {
        margin-top: 50px;
    }
    
    .mediumCard {
        width: 45%;
    }
}

@media (min-width: 1300px) {
    .mediumCard {
        width: 30%;
    }
}

@media (min-width: 2000px) {
    #picCol img {
        padding-top: 0px;
        width: 80%;
    }
    
    #picCol img:hover {
        padding-top: 2px;
        width: 80%;
    }
}

@media (min-height: 380px) {
    #headline > h1, #headline > h2, #headline > h3, #headline > h4, #oldText > h1, #oldText > h2, #oldText > h3, #oldText > h4 {
        margin-bottom: 8px;
    }

    #headline > a, #oldText > a {
        margin-top: 20px;
    }
}

@media (min-height: 850px) {
    #headline {
        padding-top: 20vh;
    }
}

@media (min-width: 780px) and (min-height: 500px) {
    #headline {
        padding-top: 20vh;
    }
}





/* Contact Site */

#contactBody {
    background-color: $plainBG-color;
    color: $text-color;
}

.fade-out {
    animation: fadeOut ease 4s;
}
@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

#email {
    color: $accent-color3;
    cursor: pointer;
}

#email:hover {
    color: darken($accent-color3, 20%);
    text-decoration: underline;
}

#github {
    color: $accent-color2;
}

#github:hover {
    color: darken($accent-color2, 20%);
}

#linkedIn {
    color: $accent-color6;
    cursor: pointer;
}

#linkedIn:hover {
    color: darken($accent-color6, 20%);
    text-decoration: underline;
}

#Facebook {
    color: blue;
}

#Facebook:hover {
    color: darken(blue, 20%);
}
