<div id="navbarHolder">
    <p id="speechBubble">You can change between dark and light mode here! <span onclick="closeSpeechBubble()" onkeydown="checkIfTab(event, this.id)">X</span></p>
    <div role="button" tabindex="0" id="navBtn" ontouchstart="" onclick="toggleNavbar(), closeSpeechBubble()" onkeydown="checkIfTab(event, this.id)">
        <i class="fas fa-bars"></i>
    </div>

    <div id="navbar" style="overflow: hidden; position: fixed;">
        <h2 style="height: 70px !important; padding: 15px; border-bottom: 2px solid black;">Navigation</h2>
        <div id="navbarLinks">
            <h2><a href="https://jacobklaren.com/" ontouchstart=""><i class="fas fa-home"></i> Main site</a></h2>
            <h2><a href="https://jacobklaren.com/contactMe.html" ontouchstart=""><i class="fas fa-phone"></i> Contact me</a></h2>
            <h2><a href="https://jacobklaren.com/photoPortfolio.html" ontouchstart=""><i class="fas fa-camera-retro"></i></i> My Photos</a></h2>

            <div id="projectsTab">
                <h1 style="padding: 20px 0px 0px 20px;">Standalone Projects:</h1>
                <h2><a href="https://kybbe.github.io/To-do/" ontouchstart=""><i style="margin-right: 5px;" class="fas fa-list-alt"></i>Todo-list</a></h2>
                <h2><a href="" ontouchstart=""><i style="margin-right: 5px;" class="fas fa-utensils"></i>Foodlist</a></h2>
            </div>
        </div>

        <h2><a class="text-center" ontouchstart="" href="#" id="navbarTopButton" onclick="topFunction(), toggleNavbar()" onkeydown="checkIfTab(event, this.id)"><i class="far fa-arrow-alt-circle-up"></i> Go to Top</a></h2>

        <div id="navbarSettings">
            <h4 style="margin-top: 10px; margin-bottom: 15px;"><i class="fas fa-cogs"></i> Settings</h4>

            <p style="display: inline-block;" id="metricToCelsiusBtn">24H & C to AM/PM & F: </p>
            <input type="checkbox" class="toggle" id="metricCheckbox" onclick="changeToMetric()" onkeydown="checkIfTab(event, this.id)">
            <br>
            <p style="display: inline-block;" id="darkModeBtn">Change to dark mode: </p>
            <input type="checkbox" class="toggle" id="darkModeCheckbox" onclick="whichSiteAndChangeTheme()" onkeydown="checkIfTab(event, this.id)">

            <script>
                function whichSiteAndChangeTheme() {
                    var path = window.location.pathname;
                    var page = path.split("/").pop().replace('.html','');
                    changeTheme(page)
                }

                autoCloseSpeechBubble();
            </script>

        </div>
    </div>  
</div>